

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.font-logo{
    font-family: 'Megrim', cursive;
}

.font-sublogo{
    font-family: 'Monoton', cursive;
}

.bg-silver{
    background-color: #dee2e6;
}

.text-grey{
    color: rgba(0,0,0,.45);
}

@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 93%;
}}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 3px solid #dee2e6;
}

.font-14{
    font-size:14px;
}

.font-12{
    font-size: 10px;
}

h3{
    @extend .my-3;
    @extend .font-weight-bold;
}

.mh-237{
    min-height: 237px;
}

.txt-highlight{
    @extend .font-weight-bold;
    color: #40A9FF;
}

.border-bot-grey{
    border-bottom: 2px solid #DEE2E6;
}

.bg-black-transparent{
    background-color: rgba(0,0,0,.65);
}

.carousel-caption{
    position: relative;
    right: 0%;
    bottom: 0;
    left: 0%;
}